<!doctype html>
<html class="fixed">
<head>

    <meta charset="UTF-8">
    <title>Default Layout | Porto Admin - Responsive HTML5 Template 1.7.0</title>
    <meta name="keywords" content="HTML5 Admin Template" />
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">


    @*
        <script src="~/assets2/vendor/jquery/jquery.js"></script>
        <script src="~/assets2/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
        <script src="~/assets2/vendor/jquery-validation/jquery.validate.min.js"></script>
        <script src="~/assets2/vendor/jquery-validation/jquery.validate.js"></script>
        <script src="~/assets2/vendor/modernizr/modernizr.js"></script>

        <script src="~/assets2/vendor/bootstrap/js/bootstrap.js"></script>
        <script src="~/assets2/vendor/nanoscroller/nanoscroller.js"></script>
        <script src="~/assets2/vendor/magnific-popup/jquery.magnific-popup.js"></script>
        <script src="~/assets2/vendor/jquery-placeholder/jquery-placeholder.js"></script>
        <script src="~/assets2/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

        <script src="~/assets2/javascripts/theme.custom.js"></script>
        <script src="~/assets2/javascripts/theme.init.js"></script>
        <script src="~/assets2/javascripts/theme.js"></script>

        <link href="~/assets2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/assets2/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/assets2/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/assets2/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" />

        <link href="~/assets2/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" />

        <link href="~/assets2/vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
        <link href="~/assets2/vendor/bootstrap-datepicker/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet" />
        <link href="~/assets2/vendor/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css" rel="stylesheet" />
        <link href="~/assets2/vendor/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />


        <link href="~/assets2/stylesheets/theme.css" rel="stylesheet" />
        <link href="~/assets2/stylesheets/skins/default.css" rel="stylesheet" />

        <link href="~/assets2/stylesheets/theme-custom.css" rel="stylesheet" />*@




    <environment include="Development">
        <script src="~/assets/jquery/jquery.min.js"></script>
        <script src="~/assets/jquery/jquery-validate.min.js"></script>
        <script src="~/assets/modernizr/modernizr.min.js"></script>
        <script src="~/assets/vendor/vendor.min.js"></script>
        <script src="~/assets/theme/theme.min.js"></script>
        <link href="~/assets/vendor/vendor.min.css" rel="stylesheet" />
        <link href="~/assets/css/theme.min.css" rel="stylesheet" />
        <link href="~/assets/css/skin.min.css" rel="stylesheet" />
        <link href="~/assets/css/theme-custom.min.css" rel="stylesheet" />
    </environment>

    <environment exclude="Development">
        <script src="~/assets2/vendor/jquery/jquery.js"></script>
        <script src="~/assets2/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
        <script src="~/assets2/vendor/jquery-validation/jquery.validate.min.js"></script>
        <script src="~/assets2/vendor/jquery-validation/jquery.validate.js"></script>
        <script src="~/assets2/vendor/modernizr/modernizr.js"></script>

        <script src="~/assets2/vendor/bootstrap/js/bootstrap.js"></script>
        <script src="~/assets2/vendor/nanoscroller/nanoscroller.js"></script>
        <script src="~/assets2/vendor/magnific-popup/jquery.magnific-popup.js"></script>
        <script src="~/assets2/vendor/jquery-placeholder/jquery-placeholder.js"></script>
        <script src="~/assets2/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

        <script src="~/assets2/javascripts/theme.custom.js"></script>
        <script src="~/assets2/javascripts/theme.init.js"></script>
        <script src="~/assets2/javascripts/theme.js"></script>


        <a href="~/assets2/vendor/bootstrap/css/bootstrap.css.map">~/assets2/vendor/bootstrap/css/bootstrap.css.map</a>
        <a href="~/assets2/vendor/bootstrap/css/bootstrap.min.css.map">~/assets2/vendor/bootstrap/css/bootstrap.min.css.map</a>
        <link href="~/assets2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/assets2/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <a href="~/assets2/vendor/font-awesome/css/font-awesome.css.map">~/assets2/vendor/font-awesome/css/font-awesome.css.map</a>
        <link href="~/assets2/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/assets2/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" />

        <link href="~/assets2/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" />

        <a href="~/assets2/vendor/bootstrap-datepicker/css/bootstrap-datepicker.css.map">~/assets2/vendor/bootstrap-datepicker/css/bootstrap-datepicker.css.map</a>
        <a href="~/assets2/vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css.map">~/assets2/vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css.map</a>
        <a href="~/assets2/vendor/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css.map">~/assets2/vendor/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css.map</a>
        <a href="~/assets2/vendor/bootstrap-datepicker/css/bootstrap-datepicker.standalone.min.css.map">~/assets2/vendor/bootstrap-datepicker/css/bootstrap-datepicker.standalone.min.css.map</a>
        <link href="~/assets2/vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
        <link href="~/assets2/vendor/bootstrap-datepicker/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet" />
        <link href="~/assets2/vendor/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css" rel="stylesheet" />
        <link href="~/assets2/vendor/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />


        <link href="~/assets2/stylesheets/theme.css" rel="stylesheet" />
        <link href="~/assets2/stylesheets/skins/default.css" rel="stylesheet" />

        <link href="~/assets2/stylesheets/theme-custom.css" rel="stylesheet" />



    </environment>
    @RenderSection("CSS", required: false)
</head>
<body>
    <section class="body">
        @Html.Partial("_Header");
        <div class="inner-wrapper">
            @Html.Partial("_Navigation")
            <section role="main" class="content-body">
                <header class="page-header">
                    <h2>@ViewBag.Title</h2>
                </header>
                @*<h3>This is for test</h3>*@
                @RenderBody();
            </section>
        </div>
    </section>
    @*  @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/vendor")
        @Scripts.Render("~/bundles/theme")
        @RenderSection("scripts", required: false)*@
    @RenderSection("Scripts", required: false)
</body>
</html>